.wizard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    margin-bottom: 80px;
}

.wizard-circle {
    display: inline-block;
    height: 42px;
    width: 42px;
    background: #e8ebf4;
    border-radius: 50% 50%;
    font-size: 16px;
    font-weight: 900;
}

.wizard-circle.active {
    background: #5a6169;
    color: #e8ebf4;
}

.wizard-circle.active p {
    color: #5a6169;
}

.wizard-circle:first-child {
    margin-left: 25px;
}

.wizard-circle:last-child {
    margin-right: 25px;
}

.wizard-circle span {
    position: relative;
    top: 9px;
}

.wizard-dash {
    border-bottom: 1px solid black;
    width: 100px;
    height: 21px;
}

.wizard-container p {
    width: 150px;
    position: relative;
    top: 25px;
    left: -54px;
    font-size: 13px;
    font-weight: 900;
}

.wizard-hide {
    visibility: hidden;
}