body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #344 !important;
}

/* app styles */

.App {
  max-width: 660px;
  margin: 30px auto;
  text-align: center;
}

/* Override default checkbox */

.custom-control-label::before {
  background-color: white !important;
  border-color: #344 !important;
}

.custom-checkbox .custom-control-label::after {
  border-right: 2px solid #5a6169 !important;
  border-bottom: 2px solid#5a6169 !important;
}


.checkbox-description {
  position: relative;
  top: -19px;
  }

.buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.buttons {
  /* margin: 8px; */
  /* padding-left: 25px !important;
  padding-right: 25px !important; */
  width: 130px;
  height: 50px;
  margin-bottom: 20px;
  
}

.buttons-nav {

  width: 100px;
  height: 40px;
  margin: 0 10px;
}

.form-control {
  height: auto;
  padding: .5rem 1rem;
  font-size: .95rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #becad6;
  font-weight: 300;
  will-change: border-color, box-shadow;
  border-radius: .375rem;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(.27, .01, .38, 1.06), border 250ms cubic-bezier(.27, .01, .38, 1.06);
  height: 35px !important;
}

.form-control:hover {
  /* color: #495057; */
  background-color: #fff !important;
  /* border-color: #ffbb00 !important; */
  /* box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, .1), 0 0.156rem 0.125rem rgba(0, 0, 0, .06); */
}
.form-control:active {
  /* color: #495057; */
  background-color: #fff !important;
}

.form-control:focus {

  background-color: #fff !important;
  border-color: #93989d !important;
 
}



input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App label {
  width: 100%;
  text-align: left;
  margin-bottom: 0px;
}

.small-input {
  width: calc(100% / 3) !important;
  float: left;
}

.number-input {
  width: calc(100% / 4) !important;
}

.small-input-container {
  width: 100% !important;
  display: inline-block !important;
}

.small-input-editions {
  width: calc(100% / 3) !important;
  float: left;
  margin-right: 20px;
}

/* ANT */

.date-picker {
  width: calc(100% / 3) !important;
  height: 35px;
  float: left;
  color: #93989d !important;
  font-size: .95rem !important;
  margin-bottom: 15px !important;
  border-radius: 6px !important;
}

.ant-input {
  border: 1px solid #becad6 !important;
}

.ant-input:focus {
  border: 1px solid #93989d !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  box-shadow: 0 0.313rem 0.719rem rgba(0,123,255,.1), 0 0.156rem 0.125rem rgba(0,0,0,.06);
}

.ant-select-selection {
  border: 1px solid #becad6 !important;
  border-radius: 6px !important;
}

.ant-select-selection:hover {
  border: 1px solid #93989d !important;
}

.ant-select-selection--single {
  height: 35px !important;
}

.ant-select-selection--single .ant-select-selection__rendered {
  line-height: 32px !important;
}

.ant-select-selection__placeholder {
  color: #93989d !important;
  font-size: .95rem !important;
}
/* .ant-select-open {
  border: 2px solid red;
  box-shadow:  3px 3px blue;
} */


/* VALIDATION ICON REMOVED TO FIT */
.number-input.form-control.is-invalid, .was-validated .form-control:invalid {
  padding-right: 0 !important; 
  background-image: none !important;
}




.circle {
  margin: 40px auto 25px;
  width: 140px;
  height: 140px;
  border-radius: 50% 50%;
  background: #e7ecf2;
}
.check-icon {
  font-size: 50px;
  color: #5a6169 !important;
}
i.anticon.anticon-check.check-icon {
  color: #93989d !important;
  position: relative;
  top: 45px;
}

.ant-btn {
  background: #5a6169 !important
  
}

.anticon.anticon-left {
  position: relative;
  top: -3px;
  right: 5px;
  /* padding-right: 5px; */
  font-size: 16px;
}

.add-another {
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
}


